.center-header {
    text-align: center;
    font-family: "Garamond", 'Times New Roman', Times, serif;
    color: #458756;
}

.left-header {
    text-align: left;
    padding-left: 300px;
    font-family: "Garamond", 'Times New Roman', Times, serif;
    color: #458756;
}

.welcome-text {
    text-align: center;
    font-family:  "Garamond", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #458790;
}

.intro-text {
    text-align: left;
    display: inline-block;
    font-family:  "Garamond", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #458790;
}

.border {
    margin-left: 300px;
    margin-right: 300px;
    border-style: dashed;
    border-width: 4px;
    border-color: #E6F9E5;
}

.image-container{
    background-color: #E6F9E5;
    margin-left: 300px;
    margin-right: 300px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 336px;
    width: 224px;
}

.skills-container {
    text-align: center;
    display: inline-block;
    font-family:  "Garamond", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #458790;
}

.navigation-bar {
    padding-left: 300px;
    text-align: left;
    font-size: 14px;
}

.skill-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 10%;
    border-radius: 5%;
}

.cplusplus {
    display: inline-block;
    padding-right: auto;
    padding-bottom: auto;
    height: 5%;
    width: 5%;
}

.project-detail {
    text-align: left;
    display: inline-block;
    font-family:  "Garamond", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #458790;
}

.project-gif {
    display: inline-block;
    height: 30%;
    width: 30%;
}

.project-border {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-style: double;
    border-width: 5px;
    border-color: #B1D8B7;
    border-radius: 15px;
}

.hobbies-container {
    text-align: center;
    display: inline-block;
    font-family:  "Garamond", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #458790;
}

.hobby-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
    border-radius: 5%;
}

.contact-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}